body {
  background-color: #FCFFFC;
  color: #1A535C;
  font-family: 'Work Sans', sans-serif;
	font-size: 15px;
  font-weight: 300;
  margin: 10vh 10vw;
	margin-bottom: 2vh;
	min-height: 80vh;
  padding: 0;
}
@media screen and (min-width: 500px) {
  body {
		font-size: 18px;
    margin: 10vh 20vw;
  }
}
@media screen and (min-width: 1000px) {
  body {
    margin: 10vh 24vw;
  }
}
@media screen and (min-width: 1400px) {
  body {
    margin: 10vh 26vw;
  }
}
@media screen and (min-width: 1700px) {
  body {
    margin: 10vh 32vw;
  }
}

#main {
	min-height: inherit;
	display: flex;
  flex-direction: column;
}
#logo {
	font-size: 40px;
	margin-bottom: 1.5rem;
}
#logo a {
	border-bottom: none;
	color: #1A535C;
}
#nav {
	margin-bottom: 1.5rem;
}
.active {
	border-top: 1px solid #4ECDC4;
}
#content-left{
	flex: 1 0 auto;
}
#footer {
	margin-top: 5vh;
	width: 100%;
}
#footer p {
	font-size: 12px;
}


h1, h2, h3, h4 {
	font-weight: normal;
}

p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 140%;
}

i {
	display: block;
	font-style: normal;
	font-size: 18px;
	margin-bottom: 2.5rem;
}

a {
	border-bottom: 1px solid #FFD400;
  border-radius: 2px;
  color: #FF6B6B;
  text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #b99b05;
}

ul {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	list-style: none;
	padding: 0;
}


img {
  border-radius: 2px;
  width: 70vw;
}
@media screen and (min-width: 500px) {
  img {
    width: 44vw;
  }
}


.title {
  color: #4ECDC4;
  font-size: 20px;
  font-weight: 300;
	margin: 1.5rem 0;
}
@media screen and (min-width: 500px) {
  .title {
    font-size: 40px;
    font-weight: 100;
  }
}
.title-divider {
  color: #FFD400;
}
.title-inverted {
  color: #1A535C;
}
#landing-title {
  /* margin: 5rem 0 8rem 0; */
}


.break {
	background-color: #FFD400;
	height: 1px;
	margin-bottom: 1rem;
	width: 20%;
}


.small-img {
  border-radius: 2px;
  width: 50vw;
}
@media screen and (min-width: 500px) {
  .small-img {
    width: 24vw;
  }
}


.annotation {
  font-size: 14px;
  padding-left: 14px;
}
